<% provide(:title, "質問一覧") %>
<div class="container-fruid post">
  <div class="row">
    <%= render"shared/post_navbar" %>
    <div class="col-lg-10 post-view">
      <% @questions.each do |question| %>
        <div class="post-view-box">
          <%= link_to question, class: "post-link-box" do%>
            <ul class="post-box">
              <li>
                <%= image_tag question.user.user_icon.url, class: "user-icon" %>
                <p class="post-detail">
                <span><%= question.user.name %></span>が
                <%= question.created_at.strftime("%Y年 %m月%d日 %H時%M分") %>に投稿</p>
              </li>
              <li>
                <h3><%= question.q_title %></h3>
              </li>
              <li>
                <p class="post-content-box">
                  <%= truncate(question.q_content, length: 80) %>
                </p>
              </li>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
