<header class="header">
  <div class="header-inner">
    <div class="header-left-nav">
      <%= link_to image_tag("/assets/Personal-logo.png", height: "70px", alt: "サイトのロゴ画像"), "/" %>
    </div>
    <div class="header-right-nav">
      <div class="nav-item">
        <% if user_signed_in? %>
          <%= link_to(root_path, class: "my-2 mx-3") do %>
            <i class="fa-solid fa-gear"></i>
          <% end %>
          <%= link_to(destroy_user_session_path, class: "my-2 mx-3") do %>
            <i class="fa-solid fa-right-from-bracket"></i>
          <% end %>
        <% else %>
          <%= link_to(new_user_session_path, class: "my-2 mx-3") do %>
            <i class="fa-solid fa-right-to-bracket"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>
<div class="top">
  <div class="top-main">
    <div class="container">
      <div class="row col-lg-6">
        <div class="form-fream">
          <div class="form-area">
            <h1 class="form-area-title mb-4">
            言葉の壁をなくそう
            </h1>
            <div class="input-area mb-4">
              <%= form_with url: root_path do |form| %>
                <input type="text" class="text_form">
                <input type="submit" class="submit_form">
              <% end %>
            </div>
            <div class="signin-area">
              <% if user_signed_in? %>
              <p>
              こんにちは、
              <%= link_to root_path do %>
                <%= current_user.email %>
              <% end %>
              さん
            </p>
              <% else %>
                <p>
                  <%= link_to "会員登録", new_user_registration_path %>
                  して翻訳を依頼する / 翻訳する
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="panel-area m-5">
      <div class="row">
        <div class="panel-item col-lg-4">
          <span>投稿する</span>
          <%= link_to image_tag("/assets/question.jpg", class: "panel-image"), "/" %>
          <div class="shadow"></div>
        </div>
        <div class="panel-item col-lg-4">
          <span>翻訳する</span>
          <%= link_to image_tag("/assets/answer.jpg", class: "panel-image"), "/" %>
          <div class="shadow"></div>
        </div>
        <div class="panel-item col-lg-4">
          <span>調べる</span>
          <%= link_to image_tag("/assets/search.jpg", class: "panel-image"), "/" %>
          <div class="shadow"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <%= image_tag "/assets/Personal-logo-black.png", height: "70px", alt: "フッターのロゴ画像" %>
  <p><%= Time.current.year %> Non-Copyright</p>
</footer>
