<% provide(:title, "お気に入りをみる") %>
<div class="container-fruid post">
  <div class="row">
    <%= render"shared/user_navbar" %>
    <div class="col-lg-10 post-view">
      <div class="align-menu-bar">
        <ul>
          <li class="<%= 'active' if current_page?(users_favorite_posts_path) %>">
            <%= link_to "投稿", users_favorite_posts_path %>
          </li>
          <li class="<%= 'active' if current_page?(users_favorite_questions_path) %>">
            <%= link_to "質問", users_favorite_questions_path %>
          </li>
        </ul>
      </div>
      <% @favorites.each do |favorite| %>
        <div class="post-view-box">
          <%= link_to question_path(favorite.question_id), class: "post-link-box" do %>
            <ul class="post-box">
              <li>
                <%= image_tag favorite.question.user.user_icon.url, class: "user-icon" %>
                <p class="post-detail">
                  <span><%= favorite.question.user.name %></span>が
                  <%= favorite.question.created_at.strftime("%Y年 %m月%d日 %H時%M分") %>に投稿しました。
                </p>
              </li>
              <li>
                <h3><%= favorite.question.q_title %></h3>
              </li>
              <li>
                <p class="post-content-box">
                  <%= truncate(favorite.question.q_content, length: 70) %>
                </p>
              </li>
              <li>
                <p class="post-count-box">
                  <span>
                    <i class="fa-regular fa-star"></i>
                    <%= favorite.question.q_favorites.count %>
                  </span>
                  <span>
                    <i class="fa-regular fa-comment"></i> <%= favorite.question.q_comments.count %>
                  </span>
                </p>
              </li>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
