<% provide(:title, @user.name) %>
<div class="container-fruid post">
  <div class="row">
    <%= render "shared/post_navbar" %>
    <div class="col-lg-10 post-view">
      <div class="post-view-box">
        <ul class="profile-box">
          <li class="icon">
            <%= image_tag @user.user_icon.url, class: "icon-image", alt: "アイコン画像"  %>
          </li>
          <li class="user-name"><%= @user.name %></li>
          <li class="introduction"><%= @user.introduction %></li>
          <table class="user-count-box">
            <tbody>
              <tr>
                <th>投稿</th>
                <th>質問</th>
                <th>いいね</th>
              </tr>
              <tr>
                <td><%= @user.posts.count %></td>
                <td><%= @user.questions.count %></td>
                <td><%= @user.favorites_count %></td>
              </tr>
            </tbody>
          </table>
        </ul>
      </div>
      <%= render "shared/posts_index", posts: @user.posts %>
    </div>
  </div>
</div>
