<header class="header">
  <div class="header-inner">
    <div class="header-left-nav">
      <%= link_to image_tag("/assets/Personal-logo.png", height: "70px", alt: "サイトのロゴ画像"), root_path, class: "header-logo-link" %>
    </div>
    <div class="header-right-nav">
      <div class="nav-item">
        <% if user_signed_in? %>
          <%= link_to new_post_path, class: "users-profile-link my-2 mx-3" do %>
            <i class="fa-solid fa-comment"></i>
          <% end %>
          <%= link_to users_profile_path, class: "users-profile-link my-2 mx-3" do %>
            <i class="fa-solid fa-circle-user"></i>
          <% end %>
          <%= link_to destroy_user_session_path, class: "signout-link my-2 mx-3" do %>
            <i class="fa-solid fa-right-from-bracket"></i>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, class: "signin-link my-2 mx-3" do %>
            <i class="fa-solid fa-right-to-bracket"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>
