<div class="col-lg-2 post-nav post-nav-pc d-lg-block d-none">
  <ul>
    <li class="<%= 'active' if current_page?(posts_path) %>">
      <%= link_to"投稿一覧", posts_path %>
    </li>
    <li class="<%= 'active' if current_page?(new_post_path) %>">
      <%= link_to"新規投稿", new_post_path %>
    </li>
  </ul>
</div>
<div class="col-lg-2 post-nav post-nav-mobile d-lg-none">
  <ul>
    <li class="<%= 'active' if current_page?(posts_path) %>">
      <%= link_to"投稿一覧", posts_path %>
    </li>
    <li class="<%= 'active' if current_page?(new_post_path) %>">
      <%= link_to"新規投稿", new_post_path %>
    </li>
  </ul>
</div>
