<div class="col-lg-2 post-nav post-nav-pc d-lg-block d-none">
  <ul>
    <li class="<%= 'active' if %w[new_post new_question].any? { |name| current_page?(send("#{name}_path")) } %>">
      <%= link_to "新規作成", new_post_path %>
    </li>
    <li class="<%= 'active' if current_page?(posts_path) %>">
      <%= link_to "投稿一覧", posts_path %>
    </li>
    <li class="<%= 'active' if current_page?(questions_path) %>">
      <%= link_to "質問一覧", questions_path %>
    </li>
    <li class="<%= 'active' if current_page?(search_path) %>">
      <%= link_to "さがす", search_path %>
    </li>
  </ul>
</div>
<div class="col-lg-2 post-nav post-nav-mobile d-lg-none">
  <ul>
    <li class="<%= 'active' if %w[new_post new_question].any? { |name| current_page?(send("#{name}_path")) } %>">
      <%= link_to "新規作成", new_post_path %>
    </li>
    <li class="<%= 'active' if current_page?(posts_path) %>">
      <%= link_to "投稿一覧", posts_path %>
    </li>
    <li class="<%= 'active' if current_page?(questions_path) %>">
      <%= link_to "質問一覧", questions_path %>
    </li>
    <li class="<%= 'active' if current_page?(search_path) %>">
      <%= link_to "さがす", search_path %>
    </li>
  </ul>
</div>
