<% comments.each do |comment| %>
  <div class="post-view-box">
    <ul class="post-box">
      <li>
        <%= image_tag comment.user.user_icon.url, class: "user-icon" %>
        <p class="post-detail">
        <span><%= comment.user.name %></span>さんが
        <%= comment.created_at.strftime("%Y年 %m月%d日 %H時%M分") %>にコメントしました。</p>
      </li>
      <li class="post-comment-content">
        <p class="post-content-box">
          <% unless comment.content.blank? %>
            評価 <%= comment.rate %> 点 | <%= comment.content %>
          <% else %>
            <%= comment.rate %> 点の評価をつけました!
          <% end %>
        </p>
      </li>
    </ul>
  </div>
<% end %>
