<% provide(:title, "投稿する") %>
<%= render "shared/error", obj: @post %>
<div class="container-fruid post post-new">
  <div class="row">
    <%= render"shared/post_navbar" %>
    <div class="col-lg-10 post-view">
      <div class="align-menu-bar">
        <ul>
          <li class="<%= 'active' if current_page?(new_post_path) %>">
            <%= link_to "投稿", new_post_path %>
          </li>
          <li class="<%= 'active' if current_page?(new_question_path) %>">
            <%= link_to "質問", new_question_path %>
          </li>
        </ul>
      </div>
      <div class="post-view-box">
        <%= form_with model: @post do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="update-content">
            <div class="row">
              <label for="title" class="col-md-3 required-a">
              タイトル
              </label>
              <%= f.text_field :title, id: "title", class: "form-control mb-4 col-md-9", placeholder: "タイトルを入力" %>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <label for="content" class="col-md-3 required-a">
              本文
              </label>
              <%= f.text_area :content, id: "content", class: "form-control mb-4 col-md-9", placeholder: "ここに投稿したい内容を記載してください。" , rows: 25 %>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <%= f.submit "投稿する", class: "col-md-2 btn btn-primary mx-3" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
