<% provide(:title, @post.title) %>
<%= render "shared/error", obj: @comment %>
<div class="container-fruid post">
  <div class="row">
    <%= render"shared/post_navbar" %>
    <div class="col-lg-10 post-view">
      <div class="post-view-box">
        <div class="post-show-box">
          <div class="post-context">
            <%= link_to user_path(@post.user_id), class: "post-user-link" do %>
              <%= image_tag @post.user.user_icon.url, class: "user-icon" %>
              <p class="user-name"><%= @post.user.name %></p>
            <% end %>
            <div class="post-content-right">
              <% unless @post.user_id == current_user.id %>
                <% if @post.favorited?(current_user) %>
                  <%= link_to post_favorites_path(@post.id), data: {turbo_method: :delete}, class: "favorite-button my-2 mx-3" do %>
                    <i style="color: #4a90e2;" class="fa-solid fa-star fa-lg"></i>
                  <% end %>
                <% else %>
                  <%= link_to post_favorites_path(@post.id), data: {turbo_method: :post}, class: "favorite-button my-2 mx-3" do %>
                    <i class="fa-regular fa-star fa-lg"></i>
                  <% end %>
                <% end %>   
              <% else %>
                <%= link_to edit_post_path, class: "post-edit-link my-2 mx-3" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
                <%= link_to post_path, data: {turbo_method: :delete, turbo_confirm: '本当に削除してよろしいですか?'}, class: "post-delete-link my-2 mx-3" do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
              <% end %>
            </div>
            <p class="post-created">
              投稿日 <%= @post.created_at.strftime("%Y年 %m月%d日 %H時%M分") %>
              更新日 <%= @post.updated_at.strftime("%Y年 %m月%d日 %H時%M分") %>
            </p>
          </div>
          <div class="title-box">
            <h3><%= @post.title %></h3>
            <h5><%= @post.artist %></h5>
            <p class="post-count-box">
              <span>
                <i class="fa-regular fa-comment"></i>
                <%= @post.comments.count %>
              </span>
              <span>
                <i class="fa-regular fa-star"></i>
                <%= @post.favorites.count %>
              </span>
              <span>
                <% if @post.comments.empty? %>
                  未評価
                <% else %>
                  平均評価 <%= @post.average.round(1) %> 点
                <% end %>
              </span>
            </p>
          </div>
          <p class="post-content-box">
            <%= safe_join(@post.content.split("\n"), tag(:br)) %>
          </p>
        </div>
      </div>
      <%= render "comments_field", comments: @comments %>
      <% unless @post.user_id == current_user.id %>
        <%= render "comment_form", {comment: @comment, post: @post} %>
      <% end %>
    </div>
  </div>
</div>
